* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

.logo {
  max-height: 50px;
}

a {
  transition: all 0.3s ease 0s;
  font-weight: bold;
  color: #162a3e;
  text-decoration: none;
}

a:hover {
  color: #425f7c;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(211, 211, 211, 0.308);
  font-family: "Montserrat", sans-serif;
}

.hamburger-menu {
  order: 1;
  max-height: 30px;
}

.nav-links li {
  display: none;
}

footer {
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  flex-direction: column;
  justify-content: space-around;
  color: #162a3e;
  background-color: rgba(211, 211, 211, 0.308);
  height: 160px;
  align-items: center;
}

.foot-links li {
  display: inline-flex;
  padding: 0px 10px;
}

.foot-links {
  font-size: 0.8rem;
}

.nav-links-collapse li {
  display: none;
  font-family: "Montserrat", sans-serif;
  padding: 5px 0px;
  justify-content: center;
  background-color: rgba(211, 211, 211, 0.308);
}

@media only screen and (min-width: 700px) {
  header .hamburger-menu,
  .nav-links-collapse li {
    display: none;
  }

  .nav-links li {
    display: inline-flex;
    padding: 0px 10px;
  }
}
